:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

.game {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

body {
    margin: 0;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: 0;
}

.cell:nth-child(3n) {
    border-right: 0;
}

.cell:nth-child(3n+1) {
    border-left: 0;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: 0;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.cell.x::after {
    content: "X";
}

.cell.o::after {
    content: "O";
}

.cell.x,
.cell.o {
    pointer-events: none;
}

#restartButton {
    font-size: 0.5em;
    border: solid 1px black;
}

#restartButton:hover {
    background-color: black;
    color: white;
    border: solid 1px white;
}